<div id="settingsPopup" class="popup">
    <div class="popup-content">
        <div class="popup-header">
            <h1 class="popup-title">설정</h1>
            <div class="close-icon">
                <svg width="18" height="18" viewBox="0 0 18 18">
                    <polyline fill="none" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" points="3.5 15, 15 3.5"></polyline>
                    <polyline fill="none" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" points="3.5 3.5, 15 15"></polyline>
                </svg>
            </div>
        </div>
        <div id="settingsContent" class="_832XL8gi" style="text-align: left;">
            <label for="use-north-korean-font">북한 폰트 사용</label>
            <div>
                <label style="display: flex; gap: 4px; padding: 0px 0px 0px 16px;">
                    <input type="checkbox" id="use-north-korean-font" class="checkbox-input"> 사용
                </label>
            </div>
        </div>
    </div>
</div>

<div id="settingsBackground"></div>